ALLOWED_HOSTS=*
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD=password
PGPASSWORD=password
DB_HOST=postgres
NAPALM_TIMEOUT=5
MAX_PAGE_SIZE=0
SECRET_KEY=secretkey
POSTGRES_USER=netbox
POSTGRES_PASSWORD=password
POSTGRES_DB=netbox
CHANGELOG_RETENTION=0
REDIS_HOST=redis
REDIS_PORT=6379
# Uncomment REDIS_SSL if using SSL
# REDIS_SSL=True
REDIS_PASSWORD=password
# Generate Client ID and Client secret as described at https://developer.cisco.com/docs/support-apis/#application-registration
CISCO_CLIENT_ID=clientid
CISCO_CLIENT_SECRET=clientsecret